In [16]:
"""In this notebook, I analysed the time frames measurmented data"""

"""notebook settings"""
import os
import datetime

import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf

mpl.rcParams['figure.figsize'] = (15,10)
mpl.rcParams['axes.grid'] = True
print(f'GPU AVAILABLE: {tf.test.is_gpu_available()}')

"""read data from file"""
air_pollution = pd.read_csv('air_pollution_smog.csv')
air_pollution = air_pollution.rename(columns={'date':'datetime'})

GPU AVAILABLE: True

In [12]:
"""convert values from datetime columnn to datetime type"""
air_pollution['datetime'] = pd.to_datetime(air_pollution['datetime'])
air_pollution.head()

,datetime,entry_id,PM1,PM2.5,PM10,temp,pressure,humidity
0,2021-11-12 20:30:17+01:00,1,0.0,0.0,0.0,26.47,1022.04517,39.31152
1,2021-11-12 20:30:35+01:00,2,22.0,33.0,38.0,26.67,1022.39905,39.24609
2,2021-11-12 20:30:52+01:00,3,23.0,35.0,44.0,26.69,1022.33557,39.18848
3,2021-11-12 20:31:10+01:00,4,25.0,39.0,48.0,26.71,1022.28021,39.74805
4,2021-11-12 20:31:41+01:00,5,24.0,38.0,45.0,26.73,1022.37970,39.12109

In [14]:
air_pollution['datetime']

0         2021-11-12 20:30:17+01:00
1         2021-11-12 20:30:35+01:00
2         2021-11-12 20:30:52+01:00
3         2021-11-12 20:31:10+01:00
4         2021-11-12 20:31:41+01:00
                    ...
260378    2022-04-01 13:48:50+02:00
260379    2022-04-01 13:49:26+02:00
260380    2022-04-01 13:50:01+02:00
260381    2022-04-01 13:50:34+02:00
260382    2022-04-01 13:51:16+02:00
Name: datetime, Length: 260383, dtype: object

In [15]:
"""Calculate days in which was sensor measur the smog and temp values"""
air_pollution['datetime'].max() - air_pollution['datetime'].min()

datetime.timedelta(days=139, seconds=58859)